

.tasksbutton{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
}

.addButton{
    color: black;
   background-color: transparent;
   border-radius: 8px;
}