



.finishedTaskCheckBox {
    cursor: pointer;
    width: 25px;
    border: 1px solid #999;
    background-color: #fff;
}
.finishedTaskCheckBox:hover{
    background-color: #007bff;
}



.done-side{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;


}
.doneTaskDiv{
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #8f8989f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 10px;
    margin-right : 10px;
    text-decoration: line-through;

}

